i{
    position: absolute;
    display: block;
    background: #000;
    border-radius: 50%;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: translateY(calc(100vh + 350px));
    }
    100%{
        transform: translateY(calc(-300px));
    }
}
